# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.env/

# Jupyter
.ipynb_checkpoints/

# Models
models/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Anaconda internal folder
anaconda_projects/
